<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if @article && @article.id %>
  <div class=''>
    <h2><%= _("Merge Articles") %></h2>
  </div>
  <%= form_tag(form_action, :id => "merge_with", :method => 'post') do %>
  
  <% end %>
<% end %>
